* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Option 2: Import via CSS */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("Goku-4k-Wallpaper.jpg");
  /* background-repeat: no-repeat; */
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
  background-color: rgba(243, 193, 193, 0.5);
}

.logo {
  font-size: 2em;
  color: #fff;
  user-select: none;
  height: 50px;
}
/* BEAUTIFY THE NAVBAR*/
.navigation a {
  position: relative;
  font-size: 1.1em;
  color: black;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
  transition: 0.5s;
}

.navigation a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: black;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: 0.5s;
}
.navigation a:hover {
  font-size: 120%;
}
.navigation a:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}

.navigation .active,
a:hover::after {
  border-bottom: 5px solid black;
}

.navigation .btnLogin-popup {
  width: 130px;
  height: 50px;
  background: transparent;
  border: 2px solid black;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1em;
  color: black;
  font-weight: 500;
  margin-left: 40px;
  transition: 0.3s;
}
.navigation .btnLogin-popup:hover {
  background: black;
  color: rgba(255, 255, 255, 0.811);
}

.wrapper {
  position: relative;
  width: 400px;
  height: 440px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.811);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transform: scale(0);
  transition: transform 0.5s, height 0.5s ease;
}
.wrapper.active-popup {
  transform: scale(1);
}
.wrapper.active {
  height: 520px;
}

.wrapper .form-box {
  width: 100%;
  padding: 40px;
}

/* login form  */
.wrapper .form-box.login {
  transition: transform 0.5s ease;
  transform: translateX(0);
}

.wrapper.active .form-box.login {
  transition: transform 0.5s ease;
  transform: translateX(-400px);
}
.wrapper.active .form-box.register {
  transition: transform 0.5s ease;
  transform: translateX(0);
}
.wrapper .form-box.register {
  position: absolute;
  transition: transform 0.5s ease;
  transform: translateX(400px);
}

.wrapper .icon-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1;
}
.form-box h2 {
  font-size: 2em;
}
.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid black;
  margin: 30px 0;
}
.wrapper .input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  font-size: 1em;
  font-weight: 500;
  pointer-events: none;
  transform: translateY(-50%);
  transition: 0.5s;
}

.wrapper .input-box input:focus ~ label,
.wrapper .input-box input:valid ~ label {
  top: -5px;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  font-weight: 600;
  padding: 0 55px 0 4px;
}
.input-box .icon {
  position: absolute;
  right: 8px;
  font-size: 1.2em;
  color: black;
  line-height: 57px;
}
.remember-forgot {
  font-size: 0.9em;
  font-weight: 500;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
}
.remember-forgot label input {
  accent-color: black;
  margin-right: 3px;
}
.remember-forgot a,
.login-register a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.811);
}
.remember-forgot a:hover,
.login-register a:hover {
  text-decoration: underline;
}

.wrapper .btn {
  width: 100%;
  height: 45px;
  background: transparent;
  border: 2px solid black;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  color: black;
  font-weight: 500;
}
.wrapper .btn:hover {
  background: black;
  color: rgba(255, 255, 255, 0.811);
  border: 2px solid black;
}
